body {

  font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    
    

}

@keyframes spinloader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.spinloader {
  animation: spinloader 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 999;
}
.spinloader::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.loader::before {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.loader::after {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.loader {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-top-color: #ff79da;
  animation: loader 2s infinite;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
}
.loader::before {
  content: "";
  animation: loader 2s infinite;
}
.loader::after {
  content: "";
  animation: loader 2s infinite;
}
.loader__cover {
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.loader__bar {
  animation: loader 2s infinite;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
}

.logo {

display: flex;
border-top: none;
border-bottom: solid #cccaca;
object-fit: cover;
align-items: center;
justify-content: center;
text-align: center;

}

.logo img {

  width: 50%;
}
figure.photo{

  margin: 0;
}
.photo img{

width: 100%;
height: 160px;
object-fit: cover;
}



.texte ,p , span {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;


}

h1, h2, h3, h4 {

font-family: Shrikhand;

}


.search-input {

display : flex; 
justify-content: center;
background-color:#eeebeb;
padding: 20px;
margin: 1px;

object-fit: cover;

   

}


h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.reserver h1 {
  display: flex;
  text-align: center;
  justify-content: center;

  margin-bottom: 35px;
}

.menu{

  background-color: #F2F2F2; 
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1em;
  

}

.explorer {


  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.img-btn-left {
  position: absolute;
  top:1rem;
  right:1rem;
  background: #99e2d0;
  color: #2c9c81;
  padding: 3px 10px;
  font-weight: bold;
  z-index: 999;
}


.aside_title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

.aside_step {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.aside_circle {
  position: absolute;
  left: -4px;
  margin-top: -7px;
  background: #9356dc;
  border-radius: 100%;
  color: #fff;
  height: 25px;
  width: 10px;
  line-height: 1.67;
  padding: 2px 10px;
  font-weight: bold;
}

.aside_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
  margin: 0 20px 0 25px;
  position: absolute;
  font-size: 20px;
}

.btn2:hover .aside_icons {

  color: #9356dc;


}

.aside__texte {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}


.btn {
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color:  #611cb6;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
}

.btn:hover {background-color:#FF79DA }

.btn:active {
 
  transform: translateY(4px);
}

    .box {

      display : flex;
      align-content: space-between;
      flex-wrap: wrap;
      text-decoration: none;
      padding: 1.0625rem;



    }
    .btn2 {

      background-color: #F2F2F2;
      border-radius: 25px;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      box-shadow: 0 5px 15px 0 #c3c3c3;
      font-weight: bold;
      border: #c3c3c3;
  
      
        
        }

.btn2:hover {background-color: #dec9f8 }

.btn2:active {
  background-color: #c4c4c4;
  box-shadow: 0 5px #dfdede;
  transform: translateY(4px);
}


 
.container2 {
display: flex;
flex-wrap: wrap;
              }


.title-page  {

  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  font-family: "Roboto";
  font-weight: bold;
  
    
   
 }

.restos article {
border-radius: 25px;
border: 2px solid white;
width: 350px;
margin: 1rem;
background-color: white;
box-shadow: 0 0 14px black;
}




h3{

  margin-bottom: -20px;
}

              
article img {
width: 100%;
height: 160px;
border-radius: 25px 25px 0 0;
object-fit: cover;
}


footer {
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: column;
  background-color: rgb(95, 92, 92);
  align-content: space-between;
  color: white;
  
}

.footer-logo {

  filter: invert(1);
  margin-top: 2rem;
 

  
}




footer h4{

  margin: 1rem;

}



footer  ul {
  padding: 0;
 
  color: white;
  
  margin: 1rem;
}

footer li {
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  color: white;
  

  
}
  
footer  li a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

/*************** Page des menu pour les resto *****************/



.main-menu {
    
  display:flex;
  justify-content: space-between;
  
  
  
    }

.main-menu a:visited {
  
  text-decoration: none;
  color: black;
}

.restaurant {

  margin-top: -1rem;
  
}

.logo a {

  position: absolute;
  left: 0.5rem;
}


.logo{

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:black;
  width: 100%;
 
  
  }

.logo img {

  width: 70%;
  
}
body {

  margin : 0;

}

.repas {

  display: flex;
  justify-content: space-between;
  
  
}




   
.select{

  display:none;
  color: white;

  
}



.select i{

  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.8s;
  transition-property: transform;

}


.select i:hover {

  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  


}


.image{

  position: relative;
}
   article:hover .select {

    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #99E2D0;
    border-radius: 10px 20px 20px 10px;
    animation-direction: reverse;
    animation-duration: 1s;
    animation-name: glissement;
    width: 55px;
    opacity: 1;
    animation: tt-expand 1s ease;
      
      
   
    }

    
    
   

   @keyframes glissement {
    from {
      margin-right: 5%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }
  @keyframes tt-expand {
    0% {
      width: 0;
      right: 65px;
    }
    100% {
      width: 55px;
      right: 10px;
    }
  }


    article img {
      width: 100%;
      height: 160px;
      border-radius: 25px 25px 0 0;
      object-fit: cover;
      }
    
    
.heart {

  display:flex;
  flex-direction: column;
  justify-content: center;
}
    
.heart i {

  color: #d1caca;
 


}

.heart .fas.fa-heart {

  display: none;
  
  }

  

.heart:hover {

  background: linear-gradient(#ff79da, #9356dc);
  
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 999;
  transition: 3s ease;
}
.heart:hover .far.fa-heart {

  display: none;
  
  }

  .heart:hover .fas.fa-heart {

    display: initial;
    
    }

 
  .lesmenus {
    
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 1rem;
    transition-delay: 5s;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 1;
    position: relative;
    margin-top: -2rem;
    box-sizing: border-box;
    
  }

  .texte h3, h4 ,p , span {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  
  }

  .description {

    flex-grow: 1;
    width: inherit;
    
  }

  

  .text{

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
  
  }


 

 section {

  margin: auto 0.5rem;
 }

  section h2{

    border-bottom:  solid;
    border-color: #99E2D0;
    display: inline-block;
   
    
  }

  
  

  .texte {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
  }

  .lesmenus article {
   display: flex;
   justify-content: space-between;
    border-radius: 25px;
    width: 380px;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 0 0 14px black;
   
    
  }

  

  article:hover p{

    max-width : 120px;



  }

 .lesmenus p {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  padding: 5px;
  margin-top: 0; 

 }

 .lesmenus h4 {

  margin: 10px;
  padding: 5px;
  margin-bottom: 0;


 }

.price {

  padding: 10px;
}

  
  
  .entree {
     

    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
     -o-animation: fadein 6s; /* Opera < 12.1 */
        animation: fadein 3s;


}

.entree2 {

-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
     -o-animation: fadein 7s; /* Opera < 12.1 */
        animation: fadein 7s;




}

.entree3 {

-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;




}


.plats{


-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
     -o-animation: fadein 6s; /* Opera < 12.1 */
        animation: fadein 6s;
}

.plats2{


-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 7s; /* Firefox < 16 */
  -ms-animation: fadein 7s; /* Internet Explorer */
   -o-animation: fadein 7s; /* Opera < 12.1 */
      animation: fadein 7s;
}

.plats3{


-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 8s; /* Firefox < 16 */
-ms-animation: fadein 8s; /* Internet Explorer */
 -o-animation: fadein 8s; /* Opera < 12.1 */
    animation: fadein 8s;
}

.desserts {


-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
     -o-animation: fadein 6s; /* Opera < 12.1 */
        animation: fadein 6s;
}


.desserts2 {


-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 7s; /* Firefox < 16 */
  -ms-animation: fadein 7s; /* Internet Explorer */
   -o-animation: fadein 7s; /* Opera < 12.1 */
      animation: fadein 7s;
}

.desserts3 {


-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 8s; /* Firefox < 16 */
-ms-animation: fadein 8s; /* Internet Explorer */
 -o-animation: fadein 8s; /* Opera < 12.1 */
    animation: fadein 8s;
}





@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.orange {

margin-left: 9.6rem;

}


.carotte{

margin-left: 5.7rem;

}


.oignon{

margin-left: 14.5rem;

}

.puree {

margin-left: 0.9rem;

}


.terres{

margin-left: 2.2rem;

}

.legumes{

margin-left: 2rem;

}

.noisettes {

margin-left: 8.9rem;



}

.chocolat{

margin-left: 15.2rem;


}

.amande{

margin-left: 6.3rem;

}



.btn {


display: flex;
align-self:center;
background: linear-gradient(#ff79da, #9356dc) ;
border-radius: 25px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
  
  }


  .btn:hover {
    background: #9356dc;
  
  
  }

  .btn:active {
   
    transform: translateY(4px);
  }
  

.boutton {

display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

         
  
footer {
display: flex;
flex-wrap: wrap;
flex-direction: column;
background-color: rgb(95, 92, 92);
align-content: space-between;
color: white;


}



footer h4{

margin: 1rem;

}



footer  ul {
padding: 0;
color: white;
margin: 1rem;
}

footer li {
list-style-type: none;
text-decoration: none;
color: white;


}

footer  li a {
text-decoration: none;
color: white;
list-style-type: none;
}

.footer-logo img{

  width:50%;

  
}

/************************* Media Query ****************************/

@media screen and (min-width: 375px)

{

.lesmenus article {

  width: 350px;
  
}


}

@media screen and (min-width: 320px)

{

  .lesmenus article {

    width: 300px;
  }

}

@media screen and (min-width: 598px) 

{
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  .nav .logo{

    text-align: left;
    box-shadow: none;

  }

  



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }



  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  

 .footer ul {

  text-align: center;
 }

}




@media screen and (min-width: 670px) 

{
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  .nav .logo{

    text-align: left;
    box-shadow: none;

  }

  



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }

  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  f

 .footer ul {

  text-align: center;
 }

}


@media screen and (min-width: 700px) 

{
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  .logo{

    text-align: right;
    box-shadow: none;
    background: white;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 260px;

  }

  @media screen and (max-width: 768px) 

  {

    section {

      width:100%;
    }

    .lesmenus article {

      margin: 1rem auto;
    }
  }



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }

  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  

 .footer ul {

  text-align: center;
 }

}


@media screen and (min-width:800px)

  {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: transparent;
    }
  
    .logo{

      text-align: right;
      box-shadow: none;
      background: white;
      width: 50%;
      text-align: center;
      border-bottom: 2px solid #f4f4f4;
      padding-left: 260px;
  
    }
    
  
  
  
    .btn2 {
  
      display: flex;
      justify-content: space-between;
    }
  
    .btn3 {
  
      display: flex;
      justify-content: space-between;
    }
  
    .btn4 {
  
      display: flex;
      justify-content: space-between;
    }
  
  .aside_step {
  
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  
  
  .aside_circle {
  
    position: relative;
    left: -40px;
  }
  
    .aside_icons {
  
  margin : 0;
  
  
    }
  
    .restos {
  
      display: flex;
      flex-wrap: wrap;
    }
  
    footer {
  
      padding-left: 26rem;
    }
  
   .footer ul {
  
    text-align: center;
   }
  
  }
  


@media screen and (min-width: 900px) 

{
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  .logo{

    text-align: right;
    box-shadow: none;
    background: white;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 260px;

  }

  



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }

  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  footer {

    padding-left: 26rem;
  }

 .footer ul {

  text-align: center;
 }

}

@media screen and (min-width: 1000px) 

{

.lesmenus {

  justify-content: space-evenly;
}
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

   .logo{

    text-align: right;
    box-shadow: none;
    background: white;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 260px;

  }

  



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }

  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  footer {

    padding-left: 26rem;
  }

 .footer ul {

  text-align: center;
 }

}


@media screen and (min-width: 1024px) 

{

.lesmenus {

  justify-content: space-evenly;
}
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

   .logo{

    text-align: right;
    box-shadow: none;
    background: white;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 260px;

  }

  



  .btn2 {

    display: flex;
    justify-content: space-between;
  }

  .btn3 {

    display: flex;
    justify-content: space-between;
  }

  .btn4 {

    display: flex;
    justify-content: space-between;
  }

.aside_step {

  display: flex;
  flex-direction: row;
  margin-top: 50px;
}



.aside_circle {

  position: relative;
  left: -40px;
}

  .aside_icons {

margin : 0;


  }

  .restos {

    display: flex;
    flex-wrap: wrap;
  }

  footer {

    padding-left: 26rem;
  }

 .footer ul {

  text-align: center;
 }

}